@font-face {
  font-family: 'Give You Glory';
  src: url('./assets/fonts/Give_You_Glory/GiveYouGlory-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter variable font for main page title */
@font-face {
  font-family: 'InterVar';
  src: url('./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}